.nav-rapper{
    display: flex;
    justify-content: space-between;
}

.left-side{
    display: flex;
    
}
/* .right-side{
    padding: 20px;
    margin-right: 50px;
    font-size: 20px;
    padding-top: 150px;
} */
/*
.nav-rapper > .left-side > div{
    margin-right: 30px;
    font-size: 20px; 
}
.nav-rapper > .right-side > div{
    margin-right: 30px;
    font-size: 20px;
    padding-left: 50px;

} */

a{
    text-decoration: none;
    margin-right: 20px;
    color: rgb(14, 77, 14);
    text-transform: uppercase;
    font-weight: bold ;
    font-size: 40px;
    

}
a:hover{
    opacity: 0.7;
    color: rgb(158, 189, 20);
}

.x{
    color: black;
    font-size: 25px;
    font-weight: bold;
    

} 
body {
  background-image: url(/images/backgroundwater.jpg); 
  background-repeat: no-repeat;
  /* background-size: 700px; */
  background-size: cover;  

background-attachment: fixed;  
   
}
.cupcakes {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    align-content: space-between;
    text-align: center;
    /* display: flex;
    flex-flow: row wrap;
    display: flex;
    justify-content: left;  */
    /* flex-direction: row;  */
    /* margin: 20px; */
    /* margin-right: 20px; */
    /* padding-left: 20px; */
    /* text-align: center; */

    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    
    

    /* grid-template-columns: 200px 200px 200px auto;  */
    /* grid-template-rows: auto; Three rows, two with explicit widths  */
    /* grid-template-areas:
      "header header header"
      ". main sidebar"
      "footer . ."; */
}
.cupcake1 {
    margin: 30px;
}
.cupcake2 {
    margin: 30px;
}
.cupcake3 {
    margin: 30px;
}
.cupcake4 {
    margin: 30px;
}
.cupcake5 {
    margin: 30px;
}
.cupcake6 {
    margin: 30px;
}
.cupcake7 {
    margin: 30px;
}
.cupcake8 {
    margin: 30px;
}


p{
    color: black;
    font-size: 25px;
    font-weight: bold;
   


}

#home{
    color: rgb(13, 14, 11);
    font-size: 25px;
    font-weight: bold;
}


.weddingCakes {
    /* display: grid; */
    /* grid-template-columns: 200px 200px 200px auto; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    align-content: space-between;
    text-align: center;
     
    /* display: flex;
    flex-direction: column;
     flex-wrap: wrap; 
    margin: 20px;
    margin-right: 20px;
    padding-left: 20px;
    text-align: center; */
}

.wedcake1 {
    margin: 30px;
}

.wedcake2 {
    margin: 30px;
}

.wedcake3 {
    margin: 30px;
}

.wedcake4 {
    margin: 30px;
}

.wedcake5 {
    margin: 30px;
}

.wedcake6 {
    margin: 30px;
}

.wedcake7 {
    margin: 30px;
}

.wedcake8 {
    margin: 30px;
}
.footer {
    display: flex;
    margin-top: 450px;
    /* position: fixed; */
    
    bottom: 0; 
    width: 100%;
    text-align: center;

    justify-content: space-evenly;
    /* align-content: space-between; */
   
  }
  
  
  .icons {
    display: flex;
    margin-left: 10px;
    
}

.facebook {
    display: flex;
    margin-left: 30px;
    margin-right: 50px;
    
    
}

.instagram {
    display: flex;
    margin-left: 30px;
    margin-right: 50px;
}

.WhatsApp {
    display: flex;
    margin-left: 30px;
    margin-right: 50px;
}
  



  